*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: #2B2D42;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.content_Header{
    display: flex;
    justify-content: center;
    flex-direction:column;
    align-items: center;
}
header img{
    width: 70px;
}
header h2{
    color: #2B2D42;
}
main{
    display: flex;
    justify-content: center;
    background-color: #D9D9D9;
    max-width: 500px;
    width: 100%;
    height: 500px;
    border-radius: 134px;
    
}
.box_music{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.box_buttons img{
    width: 25px;
    gap: 20px;
}
.box_buttons{
    display: flex;
    gap: 20px;
}
.box_music_conteudo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}
.box_image_title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto; /* Permitir altura automática para acomodar títulos mais longos */
    width: 400px; /* Ajustar a largura conforme necessário */
}

#img_Banda {
    max-width: 200px; /* Ajustar o tamanho da imagem conforme necessário */
    width: 100%;
    height: auto; /* Permitir que a altura seja ajustada automaticamente */
    border-radius: 50px;
    object-fit: cover;
}


p{
    text-align: center;
    font-size: 15px;
    color: #EF233C;
}
.position{
    position: relative;
    left: 15px;
}
/* RESPONSIVIDADE */
@media(max-width:500px){
    main{
        width: 100vw;
    }
  
}